.coisa1{
  display:flex ;
  flex-direction: column;
  margin-right: 300px;
}

.coisa2{
  display:flex ;
  flex-direction: column;
  margin-right: 300px;
  margin-top: 10px;
}

input{
  border-color:#E85B81;
  border-radius: 5px;
  margin-top: 2px;
}
body{
  background-color: azure;
  border: 2px solid;
  border-color: #E85B81;
  border-radius: 10px;
  margin-right: 100px;
}

button{
  margin-top: 15px;
  background-color:#E85B81 ;
  border-color: #E85B81;
  border-radius: 3px;
  width: 170px;
  color: #F4F4F4;
  cursor: pointer;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover{
  background-color: #ec1a52;
}

